@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

@layer {
  :root {
    --background: hsl(235, 16%, 15%);
    --foreground: hsl(235, 12%, 20%);

    --neutral1: hsl(0, 0%, 100%);
    --neutral2: hsl(216, 15%, 57%);
    --neutral3: hsl(237, 100%, 4%);
    --neutral4: hsl(245, 46%, 95%);
    --neutral5: hsl(220, 69%, 97%);
    --neutral6: hsl(224, 58%, 96%);

    --button: hsl(242, 48%, 58%);
    --button-light: hsl(243, 100%, 82%);
    --button-dark: hsl(226, 26%, 19%);
    --secondary: hsl(0, 78%, 63%);

    /* form color */
    --form-background: hsl(242, 49%, 88%);
    --checkMark: hsl(242, 48%, 47%);
  }
}

@layer base {
  body {
    @apply bg-background;
  }
  body:has(#lightModeToggle:checked) {
    background-color: hsl(220, 69%, 97%); /* Dark mode */
  }
}

@layer utilities {
  /* WebKit browsers (Chrome, Safari, Edge) */
  .scrollable-container::-webkit-scrollbar {
    height: 20px; /* Height of the horizontal scrollbar */
  }

  .scrollable-container::-webkit-scrollbar-track {
    background: hsl(235, 12%, 20%); /* Light gray background */
    border-radius: 4px; /* Rounded corners */
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background: hsl(235, 12%, 20%); /* Gray color */
    border-radius: 4px; /* Rounded corners */
  }

  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background: hsl(232, 7%, 23%); /* Darker gray on hover */
  }

  /* Firefox */
  .scrollable-container {
    scrollbar-color: hsl(235, 12%, 20%); /* Thumb color and track color */
  }

  .light-scrollable-container::-webkit-scrollbar {
    height: 20px;
  }

  .light-scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: hsl(222, 42%, 85%);
    border-radius: 4px;
  }

  .light-scrollable-container::-webkit-scrollbar-thumb {
    background-color: hsl(245, 100%, 95%);
  }

  .light-scrollable-container::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 100%);
  }

  .backgroundOpacity {
    background-color: hsl(240, 14%, 16%);
  }

  #subTask:has(input[type='checkbox']:checked) {
    background-color: hsl(245, 46%, 95%);
    color: var(--neutral2);
    text-decoration: line-through;
  }
}
