@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

@layer {
  :root {
    --background: hsl(235, 16%, 15%);
    --foreground: hsl(235, 12%, 20%);

    --neutral1: hsl(0, 0%, 100%);
    --neutral2: hsl(216, 15%, 57%);

    --button: hsl(242, 48%, 58%);
    --button-light: hsl(243, 100%, 82%);
    --button-dark: hsl(226, 26%, 19%);
    --secondary: hsl(0, 78%, 63%);
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
